html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
	margin: 0;
	padding: 0;
}

fieldset,
img,
input,
button {
	border: 0 none;
	padding: 0;
	margin: 0;
	outline-style: none;
}


/*ȥ��input�Ⱦ۽�ʱ����ɫ�߿�*/

ul,
li,
ol {
	list-style: none;
}

select,
input {
	vertical-align: middle;
}

textarea {
	resize: none;
}


/*��ֹ�϶�*/

img {
	border: 0;
	vertical-align: middle;
}


/*  ȥ��ͼƬ�Ͳ�Ĭ�ϵ�3���ؿհ׷�϶��������display��blockҲ����*/

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
}


/*2.��ӹ�����ʽ*/


/*body {
    font:12px Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff;
}*/


/*�������ܣ�*/

.clearfix:before,
.clearfix:after {
	/*�������*/
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
	/*IE/7/6*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 1em;
}


/*����h��ǩ�Ĵ�С�����ø���һ��������font-size:100%;*/

s,
i,
em {
	font-style: normal;
	text-decoration: none;
}


/*������*/

.container {
	/*���ݡ����� ��ȡ */
	width: 980px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ac {
	text-align: center;
}

.hide {
	display: none;
}

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
	zoom: 1;
}


/*�������Ӧ*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
	zoom: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}